all_lowercase_some_uppercase
ascenders_descenders
failing_students_list
failing_students_resize
failing_students_typedef
failing_students_vector
filter_list_vector_performance_comparison
frame_centered
frame_picture
hcat_append
Makefile
permuted_index
print_palindromes
split_string
